@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

@import 'variables';
@import 'reset';
@import 'common';
@import 'dashboard';
@import 'layout';
@import 'stocks';
@import 'stockDetail';

body {
  background-color: $color-background-dark;
  color: $color-text-primary;
  font-family: $font-family-main;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $color-border;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-text-placeholder;
}
